body {
    margin: 0 auto;
    background-color: lightgrey;
  }
  .wrapper {
    background-color: white;
    padding: 30px 70px;
  }
  
  ul {
    text-align: center;
  }
  #content {
    overflow: auto;
  }
  
  .column1, .column2, .column3 {
    width: 31.3%;
    float: left;
  }
  
  .column1 {
    float: left;
  }
  .column2 {
    margin: 0% 3%;
  }
  .column3 {
    float: right;
    margin: 0%;
  }
  
  li {
    display: inline;
    padding: 0.5em;
  }
  
  .banner, .article {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
  }
  .banner{
    margin: 50px 96px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 80px;
  }
  .left-mid{
    display: flex;
    flex-direction: row;
    gap:60px;
  }
  .left {
    margin: 48px 0px 125px 48px;
  }
  
  .sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 512px;
    background-color: #C1DCDC;
  }
  .right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .nav {
    list-style: none;
  }
  .nav a {
    text-decoration: none;
  }
  .nav .logo{
    margin-right: 80px;
    font-size: 24px;
    font-weight: 400;
  }
  h1{
    font-size: 64px;
    font-weight: 800;
  }
  .search-bar{
    width:60%;
    position:relative;
  }
  input{
    width:100%;
    height: 30px;
    border-radius: 5px;
    margin-top:10px;
  }
  .search-bar i{
    position: absolute;
    right: 0px;
    top:19px;
  }
  .right{
    margin: 18px 56px 19px 0px;
  }
  .sec2{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
  }
  .intro{
    width:20%;
    text-align: center;
  }
  .product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product{
    width:33.33%;
    margin-bottom:45px;
  }
  .product img{
    width:300px;
    height:360px;
    border-radius: 12px;
    margin-bottom:10px;
  }
  .product-name{
    margin-bottom:10px;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
  }
  .sec3, .sec4{
    text-align: center;
    height:auto;
    background-color: #FFFFFF;
  }
  .about-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 130px;
  }
  .about-img{
    width:96px;
    height: 96px;
    border-radius: 50%;
    background-color: #C1DCDC;
  }
  .about-img img{
    width:40px;
    height: 40px;
    line-height: 40px;
  }
  h3{
    color: #1E1E1E;
    font-weight: 700;
    font-size: 32px;
  }
  .categories h3{
    font-size: 14px;
  }
  .sec4 p{
    margin-bottom:10px;
  }
  .category-container{
    background-color: #C1DCDC;
    padding-bottom:15px;
  }
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:100px;
  }
  .categories :last-child, .categories :first-child{
    transform: translateY(-30px);
  }
  .category-bottom{
    transform: translateY(-50px);
  }
  .sec5{
    background-color: #FFFFFF;
    height: auto;
    padding: 96px;
  }
  .card-list {
    display: flex;
    justify-content: start;
    gap: 20px;
  }
  .card{
    background-color: #C1DCDC;
  }
  .review{
    display: flex;
    justify-content: start;
  }
  .review img{
    padding-left: 5px;
  }
  .reviewer-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
  }
  .star{
    align-items: center;
    padding-top:20px;
  }
  .title{
    padding-left: 48px;
    top:48px;
  }
  footer{
    background-color: #C1DCDC;
    height: auto;
  }
  .link{
    display: flex;
    justify-content: space-between;
  }
  .media-icons{
    display: flex;
    justify-content: start;
  }
  .media-icons a{
    margin: 0 4px;
    font-size: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid black;
    background-color: #C1DCDC;
    color: black;
  }
  th,td{
    padding: 20px;
    text-align: left;
  }
  table a{
    text-decoration: none;
    color:black;
  }